{% from "template.macros" import body_begin, body_end %}
{{ body_begin(title="rlei.dev / blog", rel_path=rel_path) }}
<main>
    <article>
        <h1>Accidental Coder Part 5: China, Round One</h1>
        <div class="post-meta">November 24, 2025</div>
        
        <p><a href="accidental_coder_part_4.html">Read Part 4 here!</a></p>
      
        <p>It was late summer of 2010.  An intense wave of humidity wooshes over.  Welcome to Guangzhou.</p>

        <figure>
            <figcaption>It's become my favorite city to visit in China</figcaption>
            <img src="../resources/guangzhou.jpg">
        </figure>

        <p>A driver picked Uncle G. and I up at the airport to take us to our accomodations.  I try to make some small talk with the driver but we have trouble understanding eachother.</p>

        <p>We arrived in a large residential community, which is actually in the city of Foshan.  My senses were on fire taking everything in - the greenery, architecture, dialects, everything felt very different from home.  There was a sense of freedom.</p>
      
        <p>The first thing we did after unpacking was head over to a restaurant to meet a couple other folks.  We had some dishes I've never seen before.  The flavor was explosive.  I was going to like China.</p>

        <p>Come Monday it was time to go to work.  The residential community had a shuttle bus system that took us to the city center.</p>

        <p>I meet my team lead, Xiao Feng, who has an Art and VFX background.  He starts showing me some of the auto-stereoscopic stuff they've been working on right away.  Auto-sterescopic is basically 3D without glasses - it's pretty trippy especially when you see it for the first time.</p>
        
        <figure>
            <figcaption>How it works</figcaption>
            <img src="../resources/autostereoscopic.gif">
        </figure>

        <p>The first assignment was to compose an auto-stereoscopic image out of 8 images taken along an interocular axis.  The tool that was recommended was Photoshop.  Regretably I was not yet confident enough to wield my newly learned coding skills, so I manually and painstakingly combined the images.  The composed result was then printed and a lenticular sheet was placed over and lined up to finally achieve the stereoscopic effect.  I was proud - and Xiao Feng gave me a thumbs up.</p>

        <p>Over the next few months we got into auto-stereoscopic video production - I did not contribute much but it was fun to learn.  Around October, Xiao Feng, Uncle G. and I went on a business trip to the Shanghai Expo (2010).  I think Uncle J. wanted to us to build character, so he had us ride on one of those old, slow trains.  It was gritty, loud, and cramped - don't get me started on the toilet situation.</p>  

        <p>Just as I was getting comfortable in China, I received notice it was time to go back home.  I thought it was for a short break before new projects started up.  While I didn't accomplish anything extraordinary, I got along with most of the team.</p>

        <p>I flew back to Vancouver.  Days became weeks and I didn't get a call nor was I proactive enough to ask what the situation is.  Another stain on my track record.  Oh well.  I <em>really</em> needed a win and progress my coding skills, and maybe earn some cash at the same time.  So I decided to partner up with a friend to make an iOS game.</p>
        
        <a href="accidental_coder_part_6.html">Continue to Read Part 6.<a>

    </article>
</main>
{{ body_end }}
