{% from "template.macros" import body_begin, body_end %}
{{ body_begin(title="rlei.dev / blog", rel_path=rel_path) }}
<main>
    <article>
        <h1>Accidental Coder Part 4: Back to School</h1>
        <div class="post-meta">November 24, 2025</div>
        
        <p><a href="accidental_coder_part_3.html">Read Part 3 here!</a></p>

        <p>This $5 bowl of jja-jang-myeon located upstairs in downtown H-Mart got me through the slogfest of 2009.</p>

        <figure>
            <figcaption>Going back years later</figcaption>
            <img src="../resources/jjajangmyeon.jpg">
        </figure>

        <p><span class="key-moment">I had started going to BCIT to learn coding</span> - hoping it would lead to a TD or software development type role.  Within the first few weeks in the Introduction to Programming course, I was already second guessing my decision.  The course material covered fundamentals but I could not see the link between that and what the TDs did.  Theory without application.  We'd spend a whole class on functions, what they are, and how to pass arguments to a function call.  It's like, we get it.  Lets move on to building something interesting with it.</p>

        <p>I selected a TCP/IP class hoping it'd prove background in network programming.  It did give a background alright, but was yet another theory-fest about the history of IPv4, v6, ya-da ya-da.  I went to two classes and dropped out.</p>

        <p>I had thrown away a stable job for this?</p>

        <p>But I also didn't want to go back to QC'ing rendered images frame-by-frame.  It seemed like every path led to a dead end.  There were long bus rides to and from downtown where I'd stare out the window in complete despair.</p>

        <p>"How are the classes?" - my parents checked in halfway through the year.  My brief, low-energy reply told them everything - it wasn't working out.  So they reached out to their network.   A family friend, Uncle G, offered to be my mentor and also helped arrange an internship opportunity to work for an Uncle J. in Guangzhou, China.  They needed someone with art and technical experience to help with an auto-stereoscopic 3D business venture.   Wanting to escape, I quickly agreed.</p>

        <p>Maybe a fresh start in a new environment was exactly what I needed.  Or maybe, I was just running from one dead end to another.</p>
        
        <a href="accidental_coder_part_5.html">Continue to Read Part 5.<a>

    </article>
</main>
{{ body_end }}
