{% from "template.macros" import body_begin, body_end %}
{{ body_begin(title="rlei.dev / blog", rel_path=rel_path) }}
<main>
    <article>
        <h1>Accidental Coder Part 2: Shattered dreams</h1>
        <div class="post-meta">November 23, 2025</div>
        
        <p><a href="accidental_coder_part_1.html">Read Part 1 here!</a></p>
        
        <p>It was May 2007, senior high school year.  I wanted to become a digital concept artist but failed to take any steps to making that a reality.</p>
        <p>It turned out my above-average drawing skills were still far from good enough to enroll in any respectable art institute such as Emily Carr or VanArts.  Time was ticking and I grew desperate.  A gap year would be humiliating.  And sitting at home?  I'd end up Dota'ing all the time away.</p>

        <p>A family friend recommended the Digital Animation program at Capilano College (now University) which required a combination of tech and art skills.  After doing a bit more research, it looked like their program was extremely competitive as it had a solid post-graduation employment rate and was publicly funded.  I didn't put any hope into it.</p>
        <p>Still, my dad dragged me to meet their head of program, Craig.  After a small tour and chat, by some dumb luck, it turned out they needed to fill one spot because someone had dropped out.  I couldn't believe it - I was back in the race.</p>
        
        <figure>
            <figcaption>One of Capilano Uni's older buildings - they now have newer facilities for Film & Animation</figcaption>
            <img src="../resources/capilano.jpg">
        </figure>

        <p>The Digital Animation program in '08 was an 8-month intensive with a final project to present at a job fair.  Half of my class already had industry experience working in animation, games, and visual effects.  Some of them even took the 2-year, 2D animation program at Capilano in the past.   There was no shortage of talent.  I knew I had to apply myself more than usual to keep up.</p>
      
        <p>There was one amazing concept artist in the class who had years of professional experience.  Upon seeing his works, <span class="key-moment">I quickly realized that my dream of becoming a concept artist was not realistic</span> -- a) it's a highly sought after role with companies only employ a few and b) I was really not <em>that</em> good at drawing.</p>

        <p>The daily, long commutes on the bus gave time to think of other ways to apply creativity.</p>

        <p>The year blew past learning about tools like Maya, XSI, and all the disciplines around creating digital and animated content.  My liked character modeling so for my final project I made a short reel based the main character from Final Fantasy 13 Versus (later known as 15).  Constructing his hair to subtly move in the wind was my first exposure to the technical side of computer graphics where one of the teachers demonstrated how to simulate curves which in turn deformed polygonal hair strips.

        <figure>
            <figcaption>Spent way too much time modeling the face and the clothing, accessories took the back seat</figcaption>
            <img src="../resources/noctis.jpg">
        </figure>

        <p>There were a couple long nights to polish things up before the job fair in April. The day itself was intense, relieving, and a celebratory moment.</p>

        <p>Job hunting is never easy.  There was radio silence for about 4 months until Nerd Corps Entertainment called about a Render Wrangler position.  Another lucky break.  I took the opportunity and landed my first full-time job.</p>

        <a href="accidental_coder_part_3.html">Continue to Read Part 3.<a>

    </article>
</main>
{{ body_end }}
