{% from "template.macros" import body_begin, body_end %}
{{ body_begin(title="rlei.dev / blog", rel_path=rel_path) }}
<main>
    <article>
        <h1>Accidental Coder Part 1: Aspiring Concept Artist</h1>
        <div class="post-meta">November 22, 2025</div>

        <p>My journey towards writing code professionally was not a straight line.  Before I could become a software engineer, I had to fail at becoming a concept artist.  And before that, I sabotaged my high school career.</p>

        <p>So, did you even know what you wanted to do out of high school?  I certainly did not.</p>

        <p>I was killing it in Grade 9.  My parents, highly educated Chinese immigrants, demanded excellence.  For a while, I delivered.  Report card loaded with As, math contests, the works.  My future, whatever it was, was going to be just fine.</p>

        <p>Grade 10 hit - I got dumped by my girlfriend and it knocked me sideways. Grade 11, worse: my mom banned me from playing basketball - literally the one thing keeping me sane.  Out of spite and frustration, I began skipping classes.  Homework? What homework.  And the future?  You get the idea.   The first C on a report card stung.  Then it became the norm.   I immersed myself into gaming and stopped socializing altogether.</p>

        <figure>
            <figcaption>Jet-packing was life</figcaption>
            <img src="../resources/tribes.jpg">
        </figure>

        <p>By the time Grade 12 arrived, I watched most of my friends and classmates settle on their universities and majors.  I didn't want to actually end up homeless and had to pick <em>something</em>.</p>

        <p>What about Art?  That was something.  My parents had enrolled me in traditional drawing classes on weekends throughout my childhood, which I enjoyed.  Loading up on sketchbooks, I was back at it.</p>

        <p><span class="key-moment">One night when I should have probably been working on an art assignment, I stumbled upon Craig Mullins' website </span> www.goodbrush.com (now lost to internet history).  It was probably the first time I'd doom-scrolled a website.  Loose, atmospheric, impossibly skilled. Here was someone digitally painting sci-fi mechs and fantasy landscapes with the same confidence traditional painters brought to bowls of fruit and biblical disasters.  And here was proof you could make a living creating imaginary worlds.</p>

        <figure>
            <figcaption>One of Mr Mullins' fantastical worlds</figcaption>
            <img src="../resources/mullins.jpg">
        </figure>

        <p>That was it - I'd found my calling.  A concept artist.  Should be easy, right?</p>
        
        <a href="accidental_coder_part_2.html">Continue to Read Part 2.<a>

    </article>
</main>
{{ body_end }}
