{% from "template.macros" import body_begin, body_end %}
{{ body_begin(title="rlei.dev / blog", rel_path=rel_path) }}
<main>
    <article>
        <h1>Accidental Coder Part 8: Welcome to Shanghai</h1>
        <div class="post-meta">November 28, 2025</div>
        
        <p><a href="accidental_coder_part_7.html">Read Part 7 here!</a></p>

        <p>My girlfriend and I arrive at the Shanghai train station, each with two large suitcases.  I'd heard so much about the city and it was thrilling to finally get to live here.</p>

        <p>We find a place to rent near Oriental DreamWorks office in the Xuhui district.</p> 


        
        <a href="accidental_coder_part_9.html">Continue to Read Part 9.<a>

    </article>
</main>
{{ body_end }}
