{% from "template.macros" import body_begin, body_end %}
{{ body_begin(title="rlei.dev / blog", rel_path=rel_path) }}
<main>
    <article>
        <h1>Accidental Coder Part 4: Back to School</h1>
        <div class="post-meta">November 24, 2025</div>
        
        <p><a href="accidental_coder_part_3.html">Read Part 3 here!</a></p>

        <p><span class="key-moment">It was Spring of 2009, I was back in school</span> to learn coding, with the hope I can one day become a TD.  One of the few things that got me through that year was a $5 jjajangmyeon located upstairs in an H-Mart in Downtown near the BCIT campus.  Absolute comfort food.</p>

        <figure>
            <figcaption>Going back years later</figcaption>
            <img src="../resources/jjajangmyeon.jpg">
        </figure>
        
        <p>The first intro course into programming was OK as it covered a range of topics.  But the follow-up ones including Java, C++, and TCP/IP were extremely dry.  It was a lot of theory and contrived exercises with little practical application.</p>  

        <p>I started having regrets about quitting my job and going full-time student.  I had learned some basic programming concepts and language constructs but struggled to build anything practical.  Did I pick another dead end?  There were long bus rides to and from downtown where I'd stare out the window in complete despair.</p>

        <p>My parents saw that this BCIT thing wasn't working out and seeked advice and help from their friends.   A family friend, Uncle G, offered to be my mentor and also helped facilitate an internship opportunity to work for an Uncle J. in Guangzhou, China.  They needed someone with art and technical experience to help with an auto-stereoscopic imaging project.  Their thinking was to introduce a new environment to encourage growth.</p>

        <p>It had been over 10 years since I last visited my birth country - it was an exciting opportunity that I can't afford to mess-up.</p>
        
        <a href="accidental_coder_part_5.html">Continue to Read Part 5.<a>

    </article>
</main>
{{ body_end }}
