{% from "template.macros" import body_begin, body_end %}
{{ body_begin(title="rlei.dev / blog", rel_path=rel_path) }}
<main>
    <article>
        <h1>Accidental Coder Part 6: Galaxy Harvest</h1>
        <div class="post-meta">November 27, 2025</div>
        
        <p><a href="accidental_coder_part_5.html">Read Part 5 here!</a></p>

        <p>It was December of 2010.  I'm cooped up in a room with my start-up partner, K., brainstorming ideas for an iOS app.  He comes from an art and industrial design background, with mad skills.  We'd incorporated a company called Creative Inventory - we were gonna do this fo'real.</p>

        <p>After a lot of discussion, we decided to start with:</p>
        <ul>
          <li>Something simple we can publish quickly to understand the entire workflow
          <li>A game with the theme of Chinese new year
        </ul>

        <p>The initial concept was going to be bunny character dressed in an ancient Chinese attire catching falling coins from the sky.</p>
        
        <figure>
            <figcaption>It was going to be the year of the rabbit</figcaption>
            <img src="../resources/coin_catch.png">
        </figure>

        <p>While K. was working on more designs, I started watching the "Intro to iOS app development" series on iTunes.  I wish someone told me earlier in life that trying to learn coding through tutorial videos / books is just <em>not</em> effective.  I tuned out after 2 episodes, instead opting to start prototyping the game directly, using Cocos2d as the engine.</p>

        <p>It was around this time that the idea of a coin-catching-rabbit started to cool down.  What about a star-catching-girl?  We asked a mutual friend to help us sketch out a character concept.</p>

        <figure>
            <figcaption>It was a charming and simple design</figcaption>
            <img src="../resources/galaxy_harvest_initial_sketch.png">
        </figure>

        <p>We decided to call our game "Galaxy Harvest".  The premise is that a girl whose mother is ill needs to travel the galaxy to catch stars and formulate a cure.   The player competes against enemy characters to catch those stars.</p>

        <p>Over the early months of 2011, we grinded hard.  K. fleshed out beautiful backgrounds, UI, and items for the game while I pounded my head agaist Objective-C to add gameplay features, sound FX, physics, and some basic form of AI for the enemy characters.  Things began to come together.

        <figure>
            <figcaption>In-game screen shots</figcaption>
            <img src="../resources/galaxy_harvest_in_game.png">
        </figure>

        <p>As the game took on form, so did my ambitions - I wanted to add more and more characters, story, special effects, and game modes.  K. wanted to wrap things up and release an initial version.  I didn't listen.</p>

        <p>And by early summer, the development had spun out of scope and complexity.  I burned out hard, and K. moved onto other projects.  It was really hard to accept - especially when things were coming together.</p>  

        <p>I stayed home and played StarCraft II for the next two months until Uncle G. took some concern.  He asked what my plans for the future were.  Wanting to escape my present circumstances, I told him I wanted to go back to China, which surprised him.</p>

        <p>After a few weeks, he liased with Uncle J. who finally agreed.  As it turned out, I performed terribly the first time I was there and they didn't like my working attitude.  I was surprised by this feedback but reflected deeply.  It was yet another opportunity - I really couldn't afford to mess it up again.</p>

        <a href="accidental_coder_part_7.html">Continue to Read Part 7.<a>

    </article>
</main>
{{ body_end }}
