{% from "template.macros" import body_begin, body_end %}
{{ body_begin(title="rlei.dev / blog", rel_path=rel_path) }}
<main>
    <article>
        <h1>Accidental Coder Part 3: What is a TD</h1>
        <div class="post-meta">November 24, 2025</div>
        
        <p><a href="accidental_coder_part_2.html">Read Part 2 here!</a></p>
        
        <p>I started at Nerd Corps Entertainment as a Render Wrangler on the production "League of Super Evil".  They worked on kids animated TV series and at the time were fully on a Softimage XSI pipeline.</p>
        <figure>
            <figcaption>This shot was a pain</figcaption>
            <img src="../resources/league_of_super_evil.jpg">
        </figure>

        <p>A render wrangler's core responsibility was to:</p>
        <ol>
          <li>Submit jobs to render all the 3D elements in a given animation shot</li>
          <li>Collect those renders and roughly composite them together into a 2D frame sequence (this was called pre-comp)</li>
          <li>Check <em>frame-by-frame</em> for any issues - a common one being geometry penetration.  If there are issues:</li>
            <ul>
              <li>Kick them back to an appropriate department (often Animation)</li>
              <li>...or fix them yourself (e.g. rotoscoping)</li>
            <ul>
        </ol>
      
        <p>It got mind numbing, and fast.  It was an entry level role after all.</p>

        <p>One day, the custom UI tool I was using was non-responsive.  I fired away at all the buttons, but nope.  My team lead pointed at one of the rooms outside - "See if the TDs can help.". <span class="key-moment">What is a TD?</span> I wondered.</p>
        <p>I walked over and explained the problem to them.  One of them had me reproduce the issue on my machine, and their eyes lit up as soon as the problem presented itself, it was like they knew exactly what to do.  The TDs, Technical Directors, turned out to be two nice folks who could just fix about anything with code.  Whether it's a broken 3D scene that won't start-up, a hang, or mis-behaving text field - they would figure it out.</p>
        <p>It felt like they were wielding a different class of power.  "I want to do that" - I thought.</p>
        
        <p>But how?  Do I go back to school?  Learn on the job?  I had only a few months of work experience.</p> 

        <p>By the 5th month working at the studio, they started assigning me some Compositing tasks.  It honestly wasn't a monumental difference compared to what I was doing before.  This was what the next months - or even years - would look like.</p>
        <p>So I quit.  One of the leaders was surprised and asked: "Are you sure?  Most people try to accumulate at least 2 years of experience before moving on.".  No I wasn't sure.  I was full of doubt.  I was diving head first into what could, (and would) turn out to be years of unemployment.</p>

        <a href="accidental_coder_part_4.html">Continue to Read Part 4.<a>

    </article>
</main>
{{ body_end }}
