{% from "template.macros" import body_begin, body_end %}
{{ body_begin(title="rlei.dev / blog", rel_path=rel_path) }}
<main>
    <article>
        <h1>Poop Guard Part 1: The idea</h1>
        <div class="post-meta">Dec 3, 2025</div>

        <p>My cat Puff has pooping on the floor since she was a kitten.  

        <figure>
            <figcaption>The poop corners</figcaption>
            <img src="../resources/two_corners.jpg">
        </figure>

        <p>She has not one, but <em>two</em> littertrays.  But NOPE, she prefers to number 2 right on the floor.</p>

        <figure>
            <figcaption>Puff, i mean, poop</figcaption>
            <img src="../resources/puff.jpg">
        </figure>

        <p>I've been wanting to try a electronics project for a while.  After cleaning the poop off the today I was inspired - why don't I build a robot encourage her not to poop on the floor?</p>

        <p>The thing is, I'm certain she knows it's the wrong thing to do.  Because there was a couple times I'd be watching TV.  I'd see her approach the poop corner and begin to squat.  If I make a gesture or sound - she'll meow, and go do her business in the littertray.</p>

        <p>WIP</p>
        
    </article>
</main>
{{ body_end }}
