{% from "template.macros" import body_begin, body_end %}

{{ body_begin(title="rlei.dev / blog", rel_path=rel_path) }}

<h1>Blog</h1>

<main>
    <section class="links">
      <div>
        <a href="blog/accidental_coder_part_9.html">Accidental Coder Part 9: Aotearoa</a>
        <span>November 30, 2025</span>
      </div>
      <div>
        <a href="blog/accidental_coder_part_8.html">Accidental Coder Part 8: Welcome to Shanghai</a>
        <span>November 29, 2025</span>
      </div>
      <div>
        <a href="blog/accidental_coder_part_7.html">Accidental Coder Part 7: China, Round Two</a>
        <span>November 28, 2025</span>
      </div>
      <div>
        <a href="blog/accidental_coder_part_6.html">Accidental Coder Part 6: Galaxy Harvest</a>
        <span>November 27, 2025</span>
      </div>
      <div>
        <a href="blog/accidental_coder_part_5.html">Accidental Coder Part 5: China, Round One</a>
        <span>November 26, 2025</span>
      </div>
      <div>
        <a href="blog/accidental_coder_part_4.html">Accidental Coder Part 4: Back to school</a>
        <span>November 25, 2025</span>
      </div>
      <div>
        <a href="blog/accidental_coder_part_3.html">Accidental Coder Part 3: What is a TD</a>
        <span>November 24, 2025</span>
      </div>
      <div>
        <a href="blog/accidental_coder_part_2.html">Accidental Coder Part 2: Shattered Dreams</a>
        <span>November 23, 2025</span>
      </div>
      <div>
        <a href="blog/accidental_coder_part_1.html">Accidental Coder Part 1: Aspiring Concept Artist</a>
        <span>November 22, 2025</span>
      </div>
    </section>
</main>

{{ body_end }}
